    <header class="site-header">
        <div class="container">
            <a href="{{ '/' | relative_url }}" class="site-title">{{ site.title }}</a>
            <nav class="site-nav">
                <a href="{{ '/' | relative_url }}">Framework</a>
                <a href="{{ '/about' | relative_url }}">About</a>
                <a href="{{ '/news/' | relative_url }}">News</a>
                <a href="{{ '/assessment' }}">Assessment</a>
                <a href="{{ '/contact' }}">Contact</a>
            </nav>
        </div>
    </header>
