---
layout: default
---
{% include framework_nav.html %}

<article class="task">
    <header class="task-header">
        <h1>{{ page.task_id }} {{ page.title }}</h1>
    </header>

    <div class="task-content">
        <section class="task-details">
            <h2>Task Details</h2>
            <div class="detail-item">
                <h3>Objective</h3>
                <p>{{ page.objective }}</p>
            </div>
            
            <div class="detail-item">
                <h3>Definition</h3>
                <p>{{ page.definition }}</p>
            </div>
        </section>

        <section class="assessment">
            <h2>Assessment Questions</h2>
            <div class="questions">
                {% assign group = site.data.framework.groups | where: "id", page.group_id | first %}
                {% assign practice = group.practices | where: "id", page.practice_id | first %}
                {% assign task = practice.tasks | where: "id", page.task_id | first %}
                
                <ol>
                    {% for question in task.questions %}
                        <li id="{{ question.id }}" class="question">
                            {{ question.text }}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </section>
        <section class="references">
            <h2>Reference sources</h2>
            <div class="sources">
                {% assign group = site.data.framework.groups | where: "id", page.group_id | first %}
                {% assign practice = group.practices | where: "id", page.practice_id | first %}
                {% assign task = practice.tasks | where: "id", page.task_id | first %}

                <ol>
                    {% for reference in task.references %}
                        {% assign reflink = "https://arxiv.org/pdf/2404.12300" %}
                        {% for fwk in site.data.framework.metadata %}
                            {% if fwk.id == reference.source %}
                                {% assign reflink = fwk.link %}
                            {% endif %}
                        {% endfor %}
                        <li id="{{ reference.source }}" class="reference">
                            <!--<a href="{{reflink}}" target="_blank" rel="noreferrer nofollow" id="{{ section }}" class="section">
                                {{ reference.source }}
                            </a> -->
                            <a href="{{ '/framework/frameworks/' | append: reference.source | relative_url }}">
                              {{ reference.source }}
                            </a>
                        {% for section in reference.sections %}
                                {{ section }}
                        {% endfor %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
    </div>
</article> 
